/*
 * Charte
 */
$color-title = #51483f
$color-text = #999
$color-input-placeholder = #999
$color-input-value = #51483f
$color-input-border = #ccc
$color-input-border--focus = #67c8d4
$color-input-label = #51483f
$color-input-label--focus = #82d2dc
$color-error = #e31e2a
$color-button-background = #67c8d4
$color-button = #fff
$color-link = #aaa8a6
$color-nav = #E9E9E9
$color-blocEditor-background = rgba(255, 215, 0, 0.75)
$color-blocAction = darken($color-blocEditor-background, 50%)
$color-blocAction--hovered = #000