@import "~/styles/vars"

.app-nav
  display: flex
  justify-content: space-between
  margin-bottom: 1em
  padding: 1em
  background: $color-nav

  .app-current-user
    font-weight: bold

  .app-link
    margin: 0